/* Überschreiben der Standardfarben von Bootstrap */

/* Primärfarbe */
:root {
    --primary: #44222d; /* Ihre benutzerdefinierte Primärfarbe */
}
  
/* Sekundärfarbe */
:root {
    --secondary: #663344; /* Ihre benutzerdefinierte Sekundärfarbe */
}
  
/* Hintergrundfarbe */
:root {
    --bg-color: #d1d1d1; /* Ihre benutzerdefinierte Hintergrundfarbe */
}
  
/* Textfarbe */
:root {
    --text-color: #221117; /* Ihre benutzerdefinierte Textfarbe */
}

/* Überschreiben der Standardfarben von Bootstrap-Schaltflächen */

/* Primärfarbe für Schaltflächen */
.btn-primary {
    background-color: var(--primary); /* Ihre benutzerdefinierte Primärfarbe */
    border-color: var(--primary); /* Farbe des Schaltflächenrahmens */
}
  
/* Sekundärfarbe für Schaltflächen */
.btn-secondary {
    background-color: var(--secondary); /* Ihre benutzerdefinierte Sekundärfarbe */
    border-color: var(--secondary); /* Farbe des Schaltflächenrahmens */
}
  
/* Hintergrundfarbe für Schaltflächen */
.btn-custom {
    background-color: var(--bg-color); /* Ihre benutzerdefinierte Hintergrundfarbe */
    border-color: var(--bg-color); /* Farbe des Schaltflächenrahmens */
    color: var(--text-color); /* Textfarbe für die Schaltfläche */
}
