a{
    color: var(--secondary);
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

/* Passen Sie die Größe des Popovers an */
.popover {
max-width: 400px;
}

.form-check-input:checked{
    background-color: var(--secondary);
    border-color: var(--secondary);
}