*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .swiper {
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.swiper {
    opacity: 1;
  }
  
  .swiper--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .swiper--status svg {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .swiper_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swiper_nope .fa-xmark {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swiper--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .swiper--card {
    background: #E6E6FA;
    border: 2px solid white;
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 60vh;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.swiper--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .swiper--card img {
    max-width: 100%;
    pointer-events: none;
  }
  
  .swiper--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding: 0 !important;
  }
  
  .swiper--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #E6E6FA;
    display: inline-block;
    margin: 0 8px;
  }
  
  .swiper--buttons button:focus {
    outline: 0;
  }
  
  .swiper--buttons i {
    font-size: 32px;
    vertical-align: middle;
  }
  
  .fa-heart {
    color: #D19F9F;
  }
  
  .fa-xmark {
    color: #454555;
  }
  