/* Überschreiben der Standardfarben von Bootstrap */

/* Primärfarbe */
:root {
    --primary: #b7cdda; /* Ihre benutzerdefinierte Primärfarbe */
}
  
/* Sekundärfarbe */
:root {
    --secondary: #ada69c; /* Ihre benutzerdefinierte Sekundärfarbe */
}
  
/* Hintergrundfarbe */
:root {
    --bg-color: #d0e4e5; /* Ihre benutzerdefinierte Hintergrundfarbe */
}
  
/* Textfarbe */
:root {
    --text-color: #525252; /* Ihre benutzerdefinierte Textfarbe */
}

/* Überschreiben der Standardfarben von Bootstrap-Schaltflächen */