/* Überschreiben der Standardfarben von Bootstrap */

/* Primärfarbe */
:root {
    --primary: #A7A8CD; /* Ihre benutzerdefinierte Primärfarbe */
}
  
/* Sekundärfarbe */
:root {
    --secondary: #D19D9F; /* Ihre benutzerdefinierte Sekundärfarbe */
}
  
/* Hintergrundfarbe */
:root {
    --bg-color: #FFDFDF; /* Ihre benutzerdefinierte Hintergrundfarbe */
}
  
/* Textfarbe */
:root {
    --text-color: #454555; /* Ihre benutzerdefinierte Textfarbe */
}

/* Akzentfarbe */
:root {
    --accent: #E6E6FA;
}

/* Überschreiben der Standardfarben von Bootstrap-Schaltflächen */
/* Punkt Farbe für lade animation */
:root {
    --dot-color: #ffffff;
  }